<div class="mx-1 row p-0" *ngIf="light">
  <div class="card nopadding">
    <div class="card-header text-center">
      <h4 class="fs-6">{{ light.name.toUpperCase() }}</h4>
    </div>
    <div class="card-body text-center">
      <label class="bulbControll">
        <input
          type="checkbox"
          id="{{ light.name }}"
          [checked]="light.state.on"
          (click)="OnSwitch()"
        />
        <span><ion-icon name="bulb"></ion-icon></span>
        <div class="bulb">
          <svg
            height="100px"
            width="100px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 -25 512 512"
            xml:space="preserve"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier1" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier1"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier1">
              <path
                class="bulbPath1"
                d="M256.001,0l-31.347,174.548l31.347,199.792l76.971-20.898c5.886-28.646,20.122-54.245,40.068-74.121 l0.01,0.011c29.154-29.634,47.141-70.288,47.141-115.144C420.192,73.511,346.681,0,256.001,0z"
              ></path>
              <path
                class="bulbPath2"
                d="M256.001,0C165.32,0,91.809,73.511,91.809,164.191c0,44.855,17.987,85.509,47.141,115.144l0.01-0.011 c19.946,19.876,34.182,45.475,40.068,74.121l76.971,20.898V0H256.001z"
              ></path>
              <g>
                <path
                  style="fill: #fde09c"
                  d="M381.967,164.191H350.62c0-52.174-42.446-94.62-94.62-94.62V38.224 C325.459,38.224,381.967,94.733,381.967,164.191z"
                ></path>
                <polygon
                  style="fill: #fde09c"
                  points="318.825,156.054 296.66,133.889 256.001,174.548 215.341,133.889 193.176,156.054 240.327,203.205 240.327,353.442 271.674,353.442 271.674,203.205 "
                ></polygon>
              </g>
              <g>
                <path
                  style="fill: #9bd6ff"
                  d="M256.001,428.908l-20.898,41.546L256.001,512h35.864c17.996,0,32.585-14.589,32.585-32.585v-29.609 L256.001,428.908z"
                ></path>
                <path
                  style="fill: #9bd6ff"
                  d="M335.912,353.443h-79.912l-20.898,32.124l20.898,36.955l79.912-20.898 c6.653,0,12.047-5.394,12.047-12.048V365.49C347.959,358.836,342.565,353.443,335.912,353.443z"
                ></path>
              </g>
              <g>
                <path
                  style="fill: #c4eaff"
                  d="M256.001,428.908l-68.45,20.898v29.609c0,17.996,14.589,32.585,32.585,32.585h35.865V428.908z"
                ></path>
                <path
                  style="fill: #c4eaff"
                  d="M256.001,353.443h-79.912c-6.653,0-12.047,5.394-12.047,12.047v24.087 c0,6.654,5.394,12.048,12.047,12.048l79.912,20.898V353.443z"
                ></path>
              </g>
              <path
                style="fill: #2d64bc"
                d="M335.912,401.624h-79.912l-10.449,24.09l10.449,24.09h79.912c6.653,0,12.047-5.394,12.047-12.047 v-24.087C347.959,407.018,342.565,401.624,335.912,401.624z"
              ></path>
              <path
                style="fill: #6499f3"
                d="M256.001,401.624h-79.912c-6.653,0-12.047,5.394-12.047,12.047v24.087 c0,6.654,5.394,12.047,12.047,12.047h79.912V401.624z"
              ></path>
            </g>
          </svg>
        </div>
      </label>
    </div>
    <div class="card-footer text-center">
      <section class="rangeWrap" *ngIf="light.state.on">
        <div>
          
          <div class="progressbar " *ngIf="light.state.bri">
            <p>BRIGHTNESS: <span>{{ light.state.bri }}</span></p>
            <input
              type="range"
              id="brightness"
              name="brightness"
              min="1"
              [value]="light.state.bri"
              max="254"
              (change)="OnBrightness($event)"
            />
           
          </div>
         
          <div class="progressbar " *ngIf="light.state.sat">
            <p>SATURATION: <span>{{ light.state.sat }}</span></p>
            <input
              type="range"
              id="saturation"
              name="saturation"
              min="1"
              [value]="light.state.sat"
              max="254"
              (change)="OnSaturation($event)"
            />
           
          </div>
          <div class="progressbar my-2" *ngIf="light.state.hue">
            <p>HUE: <span>{{ light.state.hue }}</span></p>
            <input
              type="range"
              id="hue"
              name="hue"
              min="1"
              [value]="light.state.hue"
              max="50000"
              (change)="OnHue($event)"
            />
           
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
